.holder {
    position: absolute;
    height: 100px;
    width: 50px;
    top: 50%;
    left: 50%;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 300px;
    height: 300px;
    background-color: rgba(95, 184, 145, 1);
    border-radius: 50%;
    content: "loading..";

    margin-left: -150px;
    margin-top: -150px;

    background-image: url("./img/wheel3.png");

    /* -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear; */
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: initial;
    animation-timing-function: ease-out; 
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    to {
        transform:rotate(1020deg);
    }
}